#mainTitle {
    color: #A9A9A9;
    text-align: center;
    padding-top: 3%;
    font-size: 33px;
}
.LinkButtons {
    text-align: center;
    #searchButton {
        margin-right: 20px;
    }
    #galleryButton {
        margin-left: 20px;
    }
    padding-bottom: 10px;
}
