body {
  background: white;
}
.Movies {
text-align: center;
  #movieTitle {
    padding-top: 3%;
    padding-bottom: 0.25%;
  }
  .searchElement {
    display:inline-block;
    margin-bottom: 10px;
    margin-left: 1%;
    width:200px;
  }
  .breaker{
    clear:both;
  }
}

.resContainer {
  background-color:#EEEEEE;
  margin: auto;
  padding-top: 10px;
  width: 40%;
  .moviePoster {
    left: 0px;
    width: 80px;
    height: 100px;
    padding-left: 10px;
  }
  .movieTitle {
    padding-left: 5px;
    color: purple;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    .movieRating {
      padding-top: 5px;
      font-size: 12px;
      color: orange;
    }
  }
  .resSeparator {
    margin: 0;
  }
}
.resContainer:hover {
  background-color: #e6f2ff;
}
